<div class="cen">
  <h1>ROCK PAPER SCISSORS</h1>
  <br />
  <button id="rock" onClick="playGame('Rock', rockPaperScissors);">Rock</button>
  <button id="paper" onClick="playGame('Paper', rockPaperScissors);">Paper</button>
  <button id="scissors" onClick="playGame('Scissors', rockPaperScissors);">Scissors</button>
  <div id="player_choice"></div>
  <div id="computer_choice"></div>
  <div id="winner"></div>
</div>
